{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Your results {% endblock %}</h1>
    <div id="jobsContainer">
    {% for job in jobs %}
        <a href={{ job['url']}} target="_blank" rel="noopener noreferrer">
                <h2>{{ job['title'] }}</h2>
        </a>
        <div style="display: flex; align-items: center;">
            <h3>{{ job['company'] }}</h3>
            <div style="margin-left: auto; display: flex; align-items: center; gap: 10px;">
                <a class="resumeDownload" style="display: none;" download>Resume</a>
                <a class="coverLetterDownload" style="display: none;" download>Cover Letter</a>
                <button class="btn btn-primary ml-auto createMaterials" 
                data-description="{{ job['description'] }}"
                data-company = "{{ job['company'] }}">Create Resume</button>
            </div>
        </div>
        <span>
            <span class="badge badge-primary">{{ job['location'] }}</span>
            <span class="badge badge-primary">{{ job['arrangement'] }}</span>
            <span class="badge badge-primary">YoE: {{ job['yoe'] }}</span>
            <span class="badge badge-primary">{{ job['level'] }}</span>
            <span class="badge badge-primary">{{ job['posted'] }}</span>
            <span class="badge badge-primary">{{ job['pay'] }}</span>
            <span class="badge badge-primary"></span>
        </span>
        <div style="display: flex; gap: 10px; align-items: center;">
            {% for status in ["applied", "rejected", "saved", "not_interested"] %}
                <input type="checkbox" class="status-checkbox" 
                       data-job-id="{{ job['l_id'] }}" 
                       data-status="{{ status }}" 
                       {% if job[status] %}checked{% endif %}>
                <label>{{ status.capitalize() }}</label>
            {% endfor %}
        </div>
        
        <hr>
    {% endfor %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            console.log("DOM fully loaded and parsed");

            const createButtons = document.querySelectorAll(".createMaterials");
            createButtons.forEach(button => {
                button.addEventListener("click", function() {
                    let jobDescription = this.getAttribute("data-description");
                    let jobCompany = this.getAttribute("data-company");
                    console.log(jobCompany);
                    fetch("/generate_materials", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ jobDescription: jobDescription, jobCompany: jobCompany})
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log("In createResume event response function")
                        if (data.success) {
                            const resumeURL = '/download_resume';
                            const coverLetterURL = '/download_cover_letter';

                            const container = this.parentElement;
                            const resumeDownload = container.querySelector(".resumeDownload");
                            const coverLetterDownload = container.querySelector(".coverLetterDownload");

                            resumeDownload.href = resumeURL;
                            coverLetterDownload.href = coverLetterURL;
                            resumeDownload.style.display = "block";
                            coverLetterDownload.style.display = "block";
                        } else {
                            console.error("Error fetching generated resume/cover letter:", data.error);
                        }
                    }).catch(error => console.error("Request failed:", error));
                });
            });
            
            document.querySelectorAll(".status-checkbox").forEach(checkbox => {
                
                checkbox.addEventListener("change", function() {
                    let jobId = this.getAttribute("data-job-id");
                    let status = this.getAttribute("data-status");
                    let checked = this.checked;
        
                    fetch("/update_status", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ job_id: jobId, status: status, checked: checked })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (!data.success) {
                            console.error("Error updating status:", data.error);
                        } else {
                            console.log("Status updated successfully:", data);
                        }
                    })
                    .catch(error => console.error("Request failed:", error));
                });
            });
        });
    </script>
    
{% endblock %}

