{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Write a cover letter {% endblock %}</h1>
    <div id="coverLetterContainer" style="margin-top: 20px;">
        
        <div>
            <button id="generateButton" class="btn btn-primary ml-auto">Generate letter</button>
        </div>
        <label for="descriptionTextBox">Enter the job description</label>
        <div>
            <textarea id="descriptionTextBox" rows="10" cols="100"></textarea>
        </div>
        <div>
            <label for="companyTextBox">Enter the company name</label>
            <div>
                <textarea id="companyTextBox" rows="1" cols="50"></textarea>
            </div>
        </div>
        <div id="letterEditorContainer" style="display: none;">
        <hr id="coverLetterDivider">
        <div>
            <button id="exportButton" class="btn btn-primary ml-auto">Export letter</button>
            <!-- <a id="resumeDownload" style="display: none;" download>Resume</a> -->
            <a id="coverLetterDownload" style="display: none;" download>Cover Letter</a>
        </div>
        <label for="coverLetterTextBox">Revise the letter</label>
        <div>
            <textarea id="coverLetterTextBox" rows="25" cols="100"></textarea>
        </div>
        <div id="bottomPadding" style="padding-bottom: 150px;"></div>
        </div>
      </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        console.log("DOM fully loaded and parsed");
        editorContainer = document.getElementById("letterEditorContainer")
        generateButton = document.getElementById("generateButton");
        generateButton.addEventListener("click", function(){
            let jobDescription = document.getElementById("descriptionTextBox").value;
            let jobCompany = document.getElementById("companyTextBox").value;
            console.log(jobDescription)
            console.log(jobCompany)
            editorContainer.style.display = "block"
            fetch("/generate_cover_letter", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ jobDescription: jobDescription, jobCompany: jobCompany})
            })
            .then(response => response.json())
            .then(data => {
                console.log("In generateCoverLetter event response function")
                if (data.success) {
                    coverLetterTextBox = document.getElementById("coverLetterTextBox");
                    coverLetterTextBox.value = data.coverLetterText
                    
                } else {
                    console.error("Error fetching generated resume/cover letter:", data.error);
                }
            }).catch(error => console.error("Request failed:", error, data));
        });
        exportButton = document.getElementById("exportButton");
        exportButton.addEventListener("click", function() {
            let coverLetterText = document.getElementById("coverLetterTextBox").value;
            fetch("/export_cover_letter", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({coverLetterText: coverLetterText})
            })
            .then(response => response.json())
            .then(data => {
                console.log("In exportCoverLetter event response function")
                if (data.success) {
                    //const resumeURL = '/download_resume';
                    const coverLetterURL = '/download_cover_letter';

                    //const resumeDownload = document.getElementById("resumeDownload");
                    const coverLetterDownload = document.getElementById("coverLetterDownload");

                    //resumeDownload.href = resumeURL;
                    coverLetterDownload.href = coverLetterURL;
                    //resumeDownload.style.display = "block";
                    coverLetterDownload.style.display = "block";
                } else {
                    console.error("Error fetching generated resume/cover letter:", data.error);
                }
            }).catch(error => console.error("Request failed:", error));
        });
    });
</script>

{% endblock %}